@page "/creation"

<PageTitle>Khip01 - Creation</PageTitle>

<style>

    /* css style */
    .container-greeting {
        padding: 15% 10%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-items {
        margin: 70px;
    }

        .container-items .container-button {
            display: grid;
            grid-template-columns: 12rem 12rem 12rem;
            justify-content: space-evenly;
            width: 45rem;
            margin: auto;
        }

            .container-items .container-button button {
                padding: .5rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background: transparent;
            }

                .container-items .container-button button img {
                    width: 32px;
                    height: 32px;
                }

        .container-items .container {
            display: none;
        }

            .container-items .container.active {
                /* display: block; */
                display: grid;
                padding: 5rem 10%;
                grid-template-columns: 25rem 25rem;
                justify-content: space-around;
                justify-items: center;
                row-gap: 5rem;
            }

            .container-items .container .content-box img {
                width: 313px;
                height: 217px;
            }

    .quote {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

<style>
    .mud-tab-slider {
        background-color: #D500F9;
    }

    .mud-tab.mud-tab-active {
        color: #D500F9;
    }
</style>

<MudPaper Height="100%" Class="d-flex flex-grow-1 gap-4 mx-5 mb-8 mt-16" Elevation="0">
    <MudPaper Elevation="4" Class="py-10 px-16 d-flex flex-1 justify-end">

        <MudText Align="Align.Right">
            <div class="container-greeting">
                <div class="heading1 text-medium-black">
                    What i've Built
                </div>
                <div class="text-black body-text">
                    As a student, I also made several small projects while adding my experience in making software. The following is software that I have made myself, both from my first program to my last program.
                </div>
            </div>
        </MudText>

    </MudPaper>
</MudPaper>
@*<div class="container-items">

    For Button Section
    <div class="container-button">
        <button class="heading2 text-black" onclick="setButton(0)" id="btnDesktop"><img src="/lib/res/computer.png" />Desktop</button>
        <button class="heading2 text-dark-gray" onclick="setButton(1)" id="btnMobile"><img src="/lib/res/smartphone.png" />Mobile</button>
        <button class="heading2 text-dark-gray" onclick="setButton(2)" id="btnWeb"><img src="/lib/res/domain.png" />Web</button>
    </div>

    For Desktop Section
    <div id="containerDesktop" class="container">
        <div class="content-box">
            <div>
                <img src="/lib/res/CafeApp - KhipCafe.jpg" />
            </div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
        <div class="content-box">
            <div>
                <img src="/lib/res/Login.jpg" />
            </div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
        <div class="content-box">
            <div>
                <img src="/lib/res/SPPay Java.jpg" />
            </div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
        <div class="content-box">
            <div>
                <img src="/lib/res/KalkulatorGUI.png" />
            </div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
    </div>

    For Mobile Section
    <div id="containerMobile" class="container">
        <div class="content-box">
            <div>Foto</div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
    </div>

    For Website Section
    <div id="containerWeb" class="container">
        <div class="content-box">
            <div>Foto</div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div><div class="content-box">
            <div>Foto</div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div><div class="content-box">
            <div>Foto</div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div><div class="content-box">
            <div>Foto</div>
            <div>Judul</div>
            <div>Deskripsi</div>
            <button>See more</button>
        </div>
    </div>

</div>*@

<MudContainer Height="100%" Width="100%" MaxWidth="MaxWidth.Large" Class="py-2">
    <div class="quote">
        <div class="main body-text-small text-black">
            <i>"There is no such thing as 'garbage' for the small program you have created."</i>
        </div>
        <div class="creator body-text text-medium-black">
            <i>~ Aakhif</i>
        </div>
    </div>
</MudContainer>

<MudContainer Height="100%" Width="100%" MaxWidth="MaxWidth.Large" Class="pt-16 pb-7">

    @* TRADITIONAL TRICK *@
     @*Nav Section 
    <MudContainer Height="100%" Width="100%" Class="px-4">
        <MudButton Id="" OnClick='() => setTitle("All")' Variant="Variant.Filled" Size="Size.Large" Class="mx-2" Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3}; border-radius:0; box-shadow:none;")" EndIcon="@Icons.Material.Filled.AllInbox">All Project</MudButton>
        <MudButton Id="" OnClick='() => setTitle("Android")' Variant="Variant.Filled" Size="Size.Large" Class="mx-2" Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3}; border-radius:0; box-shadow:none;")" EndIcon="@Icons.Material.Filled.Android">Android</MudButton>
        <MudButton Id="" OnClick='() => setTitle("Desktop")' Variant="Variant.Filled" Size="Size.Large" Class="mx-2" Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3}; border-radius:0; box-shadow:none;")" EndIcon="@Icons.Material.Filled.DesktopWindows">Desktop</MudButton>
        <MudButton Id="" OnClick='() => setTitle("Web")' Variant="Variant.Filled" Size="Size.Large" Class="mx-2" Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3}; border-radius:0; box-shadow:none;")" EndIcon="@Icons.Material.Filled.Web">Web</MudButton>
    </MudContainer>

     Content 
    <MudPaper Elevation="4" Height="80vh" MinWidth="100%" Class="">
         Content Preview 
        @if (@titleNav == "All"){
             Title Content Type 
            <div class="text-medium-black heading2">All</div>

             Project 
            <MudContainer>
                section All
            </MudContainer>

        } else if (@titleNav == "Android"){
             Title Content Type 
            <div class="text-medium-black heading2">Android Corner</div>

             Project 
            <MudContainer>
                section Android
            </MudContainer>

        } else if (@titleNav == "Desktop"){
             Title Content Type 
            <div class="text-medium-black heading2">Desktop Corner</div>

             Project 
            <MudContainer>
                section Desktop
            </MudContainer>

        } else if (@titleNav == "Web"){
             Title Content Type 
            <div class="text-medium-black heading2">Website Corner</div>

             Project 
            <MudContainer>
                section Website
            </MudContainer>

        }

    </MudPaper>*@


    @* MUDBLAZOR TRICK *@
    <MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6" Elevation="4">
        @* Tab All *@
        <MudTabPanel Text="All" Icon="@Icons.Material.Filled.AllInbox" ToolTip="Showing all my creations">
            @*Container*@
            <MudContainer Style="height:70vh" Class="overflow-auto">

                @*Title Content Type*@
                <MudPaper Height="80px" Width="100%" Square="true" Elevation="0" Class="px-8 mb-8">
                    <div class="text-medium-black heading2">All</div>
                    <div class="text-black body-text">All the creations I've ever worked on will appear here</div>
                </MudPaper>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalkulator_Go.png"
                    TitleContent="Calculator-Go_Lang Basic" 
                    DescContent="A simple and simple project that even beginners can do using the Go programming language"
                    DateContent="Aug 03, 2023"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-Go_Lang.git"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> () {"lib/res/JamanuApp.png", "lib/res/NewsJamanu.png"})
                    TitleContent="JamanuApp Java - Jamanu" 
                    DescContent="Developing an Android application to provide video broadcast features and information about the Maarif NU Institute"
                    DateContent="May 29, 2023"
                    UsingGithub="n"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/CafeApp - KhipCafe.jpg"
                    TitleContent="CafeApp - KhipCafe C#" 
                    DescContent="Cafe application that operates in the Desktop field. Has 3 access rights, namely Admin, Cashier, and Manager. Interactive and good user interface design."
                    DateContent="Mar 22, 2023"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/CafeApp-KhipCafe"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/Login.jpg", "lib/res/PetugasSPPay2.jpg", "lib/res/SiswaSPPay2.jpg"})
                    TitleContent="SPP Payment - SPPay V2 C#" 
                    DescContent="SPP Payment Application engaged in the Desktop field. Has 3 access rights, namely Admin, Officer, and Student. Interactive and good user interface design."
                    DateContent="Dec 16, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/SPP-Pay-App"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/SPPay Java.jpg", "lib/res/SPPay Java 2.jpg"})
                    TitleContent="SPP Payment - SPPay Java" 
                    DescContent="SPP Payment Application engaged in the Desktop field. Has 3 access rights, namely Admin, Officer, and Student. Less interactive and user interface design."
                    DateContent="Sep 26, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/SPP-Pay-App-Java"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/SolusiBisnis1.png", "lib/res/SolusiBisnis.png"})
                    TitleContent="Web Business Solution" 
                    DescContent="Contains the promotional website landing page regarding the offer of collaborative services."
                    DateContent="Apr 12, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Business-Solutions"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/FlutterRead.png", "lib/res/FlutterEdit.png"})
                    TitleContent="Online Library Flutter App - RedStore" 
                    DescContent="Contains a simple example of an Online Store Application information system that has implemented a database from a local server/localhost."
                    DateContent="Mar 03, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/RedStore-App"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/RegistrationForm.png"
                    TitleContent="Registration Web Form"
                    DescContent="Contains the registration form page."
                    DateContent="Sep 18, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Pendaftaran.github.io"
                    Executable="n"/>

                 @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/MyFirstPortfolio.png", "lib/res/MyFirstPortfolio2.png", "lib/res/MyFirstPortfolio3.png"})
                    TitleContent="My First Web Portfolio"
                    DescContent="My first web portfolio which contains my personal data. Using native websites."
                    DateContent="Aug 27, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Khip01.github.io"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/MyFirstWebNative.jpg"
                    TitleContent="Merdekaan Web"
                    DescContent="Simple website using html and css (inline). Website that I created as a beginner. The topic is about freedom in learning or 'MERDEKAAN DALAM BELAJAR'."
                    DateContent="2021 (I don't know exactly when I made this because I first made it on my cellphone.)"
                    UsingGithub="n"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/KalkulatorGUI.png"
                    TitleContent="Kalkulator GUI Java" 
                    DescContent="Contains the calculator desktop application."
                    DateContent="Jan 28, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-GUI-Java"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalah.png"
                    TitleContent="Rock Paper Scissors Game C++" 
                    DescContent="Just a simple and FUN rock, paper, scissors game using C++"
                    DateContent="Dec 09, 2020"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Batu-Kertas-Gunting"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalkulator.png"
                    TitleContent="Kalkulator Basic C++" 
                    DescContent="A simple calculator tool used to calculate (Addition, Subtraction, Multiplication, Division and Modulus)."
                    DateContent="Aug 04, 2020"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-Cpp"
                    Executable="y"/>

            </MudContainer>
        </MudTabPanel>

        @* Tab Mobile *@
        <MudTabPanel Text="Mobile" Icon="@Icons.Material.Filled.PhoneAndroid" ToolTip="Shows only the android corner">
            @*Container*@
            <MudContainer Style="height:70vh" Class="overflow-auto">

                @*Title Content Type*@
                <MudPaper Height="80px" Width="100%" Square="true" Elevation="0" Class="px-8 mb-8">
                    <div class="text-medium-black heading2">Android</div>
                    <div class="text-black body-text">Now many people have cell phones, and I think being an Android can be an option so that I can help many people do their activities. And now I'm still trying to learn it.</div>
                </MudPaper>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> () {"lib/res/JamanuApp.png", "lib/res/NewsJamanu.png"})
                    TitleContent="JamanuApp Java - Jamanu" 
                    DescContent="Developing an Android application to provide video broadcast features and information about the Maarif NU Institute"
                    DateContent="May 29, 2023"
                    UsingGithub="n"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/FlutterRead.png", "lib/res/FlutterEdit.png"})
                    TitleContent="Online Library Flutter App - RedStore" 
                    DescContent="Contains a simple example of an Online Store Application information system that has implemented a database from a local server/localhost."
                    DateContent="Mar 03, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/RedStore-App"
                    Executable="n"/>

            </MudContainer>
        </MudTabPanel>
        
        @* Tab Desktop *@
        <MudTabPanel Text="Desktop" Icon="@Icons.Material.Filled.DesktopWindows" ToolTip="Maybe it's rare to be interested, but this is how I am">
            @*Container*@
            <MudContainer Style="height:70vh" Class="overflow-auto">

                @*Title Content Type*@
                <MudPaper Height="80px" Width="100%" Square="true" Elevation="0" Class="px-8 mb-8">
                    <div class="text-medium-black heading2">Desktop</div>
                    <div class="text-black body-text">In the past, desktop developers were the most popular developers, but now web developers seem to be more popular. Even so, this is the way where I started my career.</div>
                </MudPaper>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalkulator_Go.png"
                    TitleContent="Calculator-Go_Lang Basic" 
                    DescContent="A simple and simple project that even beginners can do using the Go programming language"
                    DateContent="Aug 03, 2023"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-Go_Lang.git"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/CafeApp - KhipCafe.jpg"
                    TitleContent="CafeApp - KhipCafe C#" 
                    DescContent="Cafe application that operates in the Desktop field. Has 3 access rights, namely Admin, Cashier, and Manager. Interactive and good user interface design."
                    DateContent="Mar 22, 2023"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/CafeApp-KhipCafe"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/Login.jpg", "lib/res/PetugasSPPay2.jpg", "lib/res/SiswaSPPay2.jpg"})
                    TitleContent="SPP Payment - SPPay V2 C#" 
                    DescContent="SPP Payment Application engaged in the Desktop field. Has 3 access rights, namely Admin, Officer, and Student. Interactive and good user interface design."
                    DateContent="Dec 16, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/SPP-Pay-App"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/SPPay Java.jpg", "lib/res/SPPay Java 2.jpg"})
                    TitleContent="SPP Payment - SPPay Java" 
                    DescContent="SPP Payment Application engaged in the Desktop field. Has 3 access rights, namely Admin, Officer, and Student. Less interactive and user interface design."
                    DateContent="Sep 26, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/SPP-Pay-App-Java"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/KalkulatorGUI.png"
                    TitleContent="Kalkulator GUI Java" 
                    DescContent="Contains the calculator desktop application."
                    DateContent="Jan 28, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-GUI-Java"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalah.png"
                    TitleContent="Rock Paper Scissors Game C++" 
                    DescContent="Just a simple and FUN rock, paper, scissors game using C++"
                    DateContent="Des 09, 2020"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Batu-Kertas-Gunting"
                    Executable="y"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="n"
                    ImageSrc="lib/res/Kalkulator.png"
                    TitleContent="Kalkulator Basic C++" 
                    DescContent="A simple calculator tool used to calculate (Addition, Subtraction, Multiplication, Division and Modulus)."
                    DateContent="Aug 04, 2020"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Kalkulator-Cpp"
                    Executable="y"/>

            </MudContainer>
        </MudTabPanel>
        
        @* Tab Website *@
        <MudTabPanel Text="Website" Icon="@Icons.Material.Filled.Web" ToolTip="Not a web developer, but I do it sometimes">
            @*Container*@
            <MudContainer Style="height:70vh" Class="overflow-auto">

                @*Title Content Type*@
                <MudPaper Height="80px" Width="100%" Square="true" Elevation="0" Class="px-8 mb-8">
                    <div class="text-medium-black heading2">Website</div>
                    <div class="text-black body-text">Maybe now I'm still not a reliable website developer, but I've done some assignments/web creations of my own.</div>
                </MudPaper>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/SolusiBisnis1.png", "lib/res/SolusiBisnis.png"})
                    TitleContent="Web Business Solution" 
                    DescContent="Contains the promotional website landing page regarding the offer of collaborative services."
                    DateContent="Apr 12, 2022"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Business-Solutions"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/RegistrationForm.png"
                    TitleContent="Registration Web Form"
                    DescContent="Contains the registration form page."
                    DateContent="Sep 18, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Pendaftaran.github.io"
                    Executable="n"/>

                 @* Content *@
                <CreationContent 
                    FlexType="flex-row-reverse" 
                    AlignType="Align.Left"
                    UsingCarousel="y"
                    ImageSrcList=@(new List<string> { "lib/res/MyFirstPortfolio.png", "lib/res/MyFirstPortfolio2.png", "lib/res/MyFirstPortfolio3.png"})
                    TitleContent="My First Web Portfolio"
                    DescContent="My first web portfolio which contains my personal data. Using native websites."
                    DateContent="Aug 27, 2021"
                    UsingGithub="y"
                    GithubLink="https://github.com/Khip01/Khip01.github.io"
                    Executable="n"/>

                @* Content *@
                <CreationContent 
                    FlexType="flex-row" 
                    AlignType="Align.Right"
                    UsingCarousel="n"
                    ImageSrc="lib/res/MyFirstWebNative.jpg"
                    TitleContent="Merdekaan Web"
                    DescContent="Simple website using html and css (inline). Website that I created as a beginner. The topic is about freedom in learning or 'MERDEKAAN DALAM BELAJAR'."
                    DateContent="2021 (I don't know exactly when I made this because I first made it on my cellphone.)"
                    UsingGithub="n"
                    Executable="n"/>

            </MudContainer>
        </MudTabPanel>
    </MudTabs>

</MudContainer>


@code{
    // This value can content All, Android, Desktop, and Web.
    //private string titleNav = "All";

    //private void setTitle(string Type)
    //{
    //    titleNav = Type;
    //}

    // Set hover Content
    //private int setElevation = 0;

    //private void OnMouseOver()
    //{
    //    setElevation = 4;
    //}

    //private void OnMouseOut()
    //{
    //    setElevation = 0;
    //}

}
